body {
/*display: flex; */
  text-align:center;
  font-family:verdana;
}
h2 {
  font-family:Oxygen;
  font-weight:100;
  font-style: normal;
}
p {
  font-family:verdana;
}
nav {
  float: center;
  width: 100%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

a{
	padding-right: 10px;
	text-decoration:none;
	color: rgb(120, 163, 38);
}